{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["Android >= 2.3", "ios >= 6"]
      },
      "include": [],
      "debug": false,
      "useBuiltIns": false
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime", ["component", [
    {
      "libraryName": "mint-ui",
      "style": true
    }
  ]]]
}
